---
- name: SHOW RUNNING-CONFIG
  hosts: COVF-CAL-JPC-SW
  no_log: false
  gather_facts: false
  connection: network_cli

  tasks:
          - name: DISPLAY THE RUNNING-CONFIG
            ios_command:
                    commands:
                            - show running-config
            register: salida

          - name: SAVE OUTPUT TO ./backups-Cisco/
            debug:
              msg: "{{ salida.stdout }}"
              #msg: "{{ salida.stdout[0] }}"
              #msg: "Output: {{ config.stdout_lines }}"
          #    dest: "192.168.91.130/etc/ansible/Project-Despegar/Playbooks/backups-Cisco/show_run-{{inventory_hostname}}-{{ lookup('pipe', 'date +%Y-%m-%d@%H:%M:%S') }}.txt"
          
          #- name: Print output to console
          #  debug:
          #    msg: "{{config.stdout}}"




